<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>javascript bootstrap</title>
		
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- 新 Bootstrap4 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
		<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
		<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
		
		<!-- 菜鸟教程找的cdn链接,https://unpkg.com/vue -->
		<script src="https://cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
		
		<link rel="stylesheet" href="/css/bootstrapTest.css">
		<script src="/js/bootstrapTest.js"></script>
		
		<style type="text/css"></style>
		<script type="text/javascript"></script>
		
	</head>
	<body>
		
		
		<!-- 中部 -->
		<!-- <div class="middleDiv" style=""> -->
			
				
				<!-- 中间右侧跳转 -->
<!-- 				<div class="middleDiv3" style=""> -->
					<table class="middleDiv1Table" style="">
						<tr class="middleDiv1TR" style="background-color: #FAFAFA;">
							<td class="middleDiv1TD" >中间右侧</td>
						</tr>
					</table>
					<table class="middleDiv1Table" style="">
<!-- 						<tr class="middleDiv1TR" th:each="top : ${ listRight }"> -->
<!-- 							<td class="middleDiv1TD" th:text="${ top.name }" th:onclick="'javascript:topClick('+${ top.id }+')'" ></td> -->
<!-- 						</tr> -->

<!-- 						<tr class="middleDiv1TR"> -->
<!-- 							<td class="middleDiv1TD" onclick="topClick2('../in.html')" >in</td> -->
<!-- 						</tr> -->
						
						<tr class="middleDiv1TR">
							<td class="middleDiv1TD" onclick="location.href='/tools/sql.html'" >sql</td>
						</tr>
						<tr class="middleDiv1TR">
							<td class="middleDiv1TD" onclick="location.href='/tools/sql_to_java.html'" >sql_to_java</td>
						</tr>
						<tr class="middleDiv1TR">
							<td class="middleDiv1TD" onclick="location.href='/tools/sql_to_java_same_width.html'" >sql_to_java_same_width</td>
						</tr>
						<tr class="middleDiv1TR">
							<td class="middleDiv1TD" onclick="location.href='/tools/double_click_td.html'" >double_click_td</td>
						</tr>
						<tr class="middleDiv1TR">
							<td class="middleDiv1TD">
								<a target="_blank" rel="nofollow" href="/tools/CanvasTime.html" >CanvasTime</a>
							</td>
						</tr>
						<tr class="middleDiv1TR">
							<td class="middleDiv1TD" onclick="location.href='/tools/CanvasTime.html'" >
								<!-- 百度搜索 -->
								<a target="_blank" rel="nofollow" href="http://www.baidu.com" >百度</a>
							</td>
						</tr>
						
					</table>
					
<!-- 				</div> -->
		<!-- </div> -->
		
	</body>
</html>
